extends layout

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Socket.IO Chat Example
    img(src='../images/nodejslogo.png', alt='nodelogo')
    img(src='../images/expresslogo.png', alt='expresslogo')
    img(src='../images/socketiologo.png', alt='socketiologo')

block content
    #loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Login', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title Please login
          .modal-body
            form(role='form')
              .form-group
                label(for='nickname') Nickname
                input#inputNickname.form-control(type='text', placeholder='Nickname')
              .form-group
                label(for='password') Password
                input#inputPassword.form-control(type='text', placeholder='Password')
          .modal-footer
            button#btnLogin.btn.btn-info.pull-right(type='submit') Login
    #privateMsgModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='PrivateMessages', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Private Messages
          .modal-body
            .panel.panel-info
                .panel-heading
                  | CHAT HISTORY
                .panel-body.chathistory
                  ul#privateChatMessages.media-list
                .panel-footer
                  .input-group
                    input#inputPrivateMessage.form-control(type='text', placeholder='Enter Message')
                    span.input-group-btn
                     button#btnSendPrivateMessagee.btn.btn-info(type='button') SEND
    .container
        .row(style='padding-top: 40px')
            br
            br
            .col-md-8
              .panel.panel-info
                .panel-heading
                  | CHAT HISTORY
                .panel-body.chathistory
                  ul#chatMessages.media-list
                .panel-footer
                  .input-group
                    input#inputMessage.form-control(type='text', placeholder='Enter Message')
                    span.input-group-btn
                      button#btnSendMessage.btn.btn-info(type='button') SEND
            .col-md-4
              .panel.panel-primary
                .panel-heading
                  | ONLINE USERS (Click for private chat)
                .panel-body
                  ul#usersList.media-list
