doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/bootstrap.min.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='../scripts/jquery.min.js')
    script(src='../scripts/bootstrap.min.js')
    script(src='../scripts/socket.io.js')
    script(src='../scripts/chat.js')
  body(style='font-family: Verdana')
    block content